<form method="POST" action="">
<div class="input-group mb-3">
  <span class="input-group-text" >Name</span>
  <input name="name" type="text" class="form-control" placeholder="name" aria-label="name" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" >Birthday</span>
  <input name="birthday" type="date" class="form-control" placeholder="birthday" aria-label="birthday" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" >Phone</span>
  <input name="phone" type="text" class="form-control" placeholder="phone" aria-label="phone" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" >Address</span>
  <input name="address" type="text" class="form-control" placeholder="address" aria-label="address" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" >Email</span>
  <input name="email" type="email" class="form-control" placeholder="email" aria-label="email" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" >Password</span>
  <input name="password" type="text" class="form-control" placeholder="password" aria-label="password" aria-describedby="basic-addon1">
</div>
 <button type="submit" class="btn btn-primary">Submit</button>
</form>
